/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #333;
  background-color: #fff;
  font-weight: 500;
  overflow: visible;
}

button {
  font-family: "Inter", sans-serif;
  color: #333;
  line-height: 1.6;
  font-weight: 500;
}

h1 {
  font-size: 72px;
  line-height: 90px;
  font-weight: 600;
}

input {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #667085;
}
p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #667085;
}

a {
  color: inherit;
  text-decoration: none;
}

.primary-btn {
  background-color: #7e57c2;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 12px;
  cursor: pointer;
}

/* Header */

.header {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f2f4f7;
  padding: 18px 80px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;

  img {
    max-width: 32px;
    max-height: 32px;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 40px;
  color: #667085;
}

.nav a {
  display: flex;
  align-items: center;
}

.nav a img {
  margin-left: 8px;
}

.auth-buttons {
  display: flex;
  gap: 12px;
}

.auth-buttons button {
  font-size: 16px;
}

.login-btn {
  background-color: transparent;
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
  color: #667085;
}

.signup-btn {
  background-color: #7e57c2;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 12px;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: #6a44a7;
}

.hamburger-menu {
  display: none;
}

@media (max-width: 768px) {
  .header {
    padding: 18px 40px;
  }

  .nav {
    display: none;
  }

  .auth-buttons {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger-menu span {
    display: block;
    width: 32px;
    height: 3px;
    background-color: black;
    transition: all 0.3s ease;
    margin-bottom: 6px;
  }
}

/* Hero */

#hero {
  padding: 18px 80px;
}

.hero-wrapper {
  width: 100%;
  padding: 96px 224px 192px;
  background: linear-gradient(26.57deg, #53389e 8.33%, #6941c6 91.67%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
}

.hero-title {
  text-align: center;
  font-size: clamp(2.25rem, 1.5rem + 3.3333vw, 4.5rem);
  line-height: clamp(2.75rem, 1.7917rem + 4.2593vw, 5.625rem);
  color: #ffffff;
}

.hero-title-secondary {
  color: #f4ebff;
  margin-bottom: 24px;
  font-size: clamp(2.25rem, 1.5rem + 3.3333vw, 4.5rem);
  line-height: clamp(2.75rem, 1.7917rem + 4.2593vw, 5.625rem);
}

.hero-paragraph {
  font-size: clamp(1.125rem, 1.0833rem + 0.1852vw, 1.25rem);
  line-height: clamp(1.75rem, 1.7083rem + 0.1852vw, 1.875rem);
  font-weight: 400;
  line-height: 30px;
  color: #e9d7fe;
  text-align: center;
  margin-bottom: 48px;
}

.hero-input-container {
  display: flex;
  gap: 16px;
  max-width: 500px;
  width: 100%;
  margin-bottom: 6px;
}

.hero-input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-input-wrapper p {
  width: 100%;
  max-width: 500px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #e9d7fe;
}

.hero-input {
  padding: 12px 14px;
  border-radius: 8px;
  border: none;
  width: 100%;
  max-width: 360px;
}

.hero-btn {
  min-width: 128px;
  padding: 12px 20px;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 8px;
}

@media (max-width: 1024px) {
  .hero-wrapper {
    padding: 80px 80px 120px;
  }
}

@media (max-width: 768px) {
  .hero-wrapper {
    padding: 80px 80px 120px;
    border-radius: 0;
  }
  #hero {
    padding: 0;
  }
}

@media (max-width: 425px) {
  .hero-wrapper {
    padding: 64px 16px 120px;
    border-radius: 0;
  }
  #hero {
    padding: 0;
  }
}

/* Features */

#features {
  background-color: #f9fafb;
  padding: 96px 64px;
}

.features-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 32px;
  flex-wrap: wrap;
}

.features-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 384px;
  text-align: center;
}

.features-icon {
  width: 48px;
  height: 48px;
  border: 8px solid #f4ebff;
  background-color: #f4ebff;
  border-radius: 28px;
  margin-bottom: 20px;
}

.features-title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #101828;
}

.features-paragraph {
}

/* Integrations */

#integrations {
  padding: 96px 80px 96px;
}

.integrations-wrapper {
}

.integrations-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.integrations-above-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #6941c6;
  background-color: #f9f5ff;
  border-radius: 16px;
  padding: 4px 12px;
  margin-bottom: 16px;
}

.integrations-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: #101828;
  margin-bottom: 20px;
  text-align: center;
}

.integrations-title-paragraph {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  max-width: 768px;
  text-align: center;
}

.integrations-content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 64px;
  margin-top: 64px;
}

.integrations-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 384px;
  gap: 20px;
}

.integrations-icon {
  width: 64px;
  height: 64px;
}

.integrations-card-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.integrations-card-title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: #101828;
  text-align: center;
}

.integrations-paragraph {
  text-align: center;
}

.integrations-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #6941c6;
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 768px) {
  .integrations-content-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 64px;
    margin-top: 64px;
  }

  #integrations {
    padding: 40px 16px 64px;
  }
}

/* Metrics */

#metrics {
  padding: 96px 80px;
}

.metrics-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 64px;
}

.metrics-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.metrics-title {
  font-size: clamp(1.875rem, 1.75rem + 0.5556vw, 2.25rem);
  line-height: clamp(2.375rem, 2.25rem + 0.5556vw, 2.75rem);
}

.metrics-subtitle {
  font-size: clamp(1.125rem, 1.0833rem + 0.1852vw, 1.25rem);
  line-height: clamp(1.75rem, 1.7083rem + 0.1852vw, 1.875rem);
}

.metrics-content-container {
  width: 100%;
  background-color: #f9f5ff;
  display: flex;
  justify-content: space-around;
  padding: 64px;
}

.metrics-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.metrics-number {
  font-size: clamp(3rem, 2.75rem + 1.1111vw, 3.75rem);
  line-height: clamp(3.75rem, 3.5rem + 1.1111vw, 4.5rem);
  font-weight: 600;
  color: #7f56d9;
}

.metrics-description {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
  color: #42307d;
}

@media (max-width: 425px) {
  #metrics {
    padding: 16px;
  }

  .metrics-wrapper {
    background-color: #f9f5ff;
    padding: 40px 24px;
    border-radius: 16px;
  }

  .metrics-content-container {
    flex-direction: column;
    padding: 40px 24px;
    gap: 32px;
  }

  .metrics-title {
    color: #42307d;
  }

  .metrics-subtitle {
    color: #6941c6;
  }
}
