/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #333;
  background-color: #fff;
  font-weight: 500;
  overflow: visible;
}

body::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

button {
  font-family: "Inter", sans-serif;
  color: #333;
  line-height: 1.6;
  font-weight: 500;
}

h1 {
  font-size: 72px;
  line-height: 90px;
  font-weight: 600;
}

input {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #667085;
}
p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #667085;
}

a {
  color: inherit;
  text-decoration: none;
}

.primary-btn {
  background-color: #7e57c2;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.secondary-btn {
  background-color: #fff;
  color: #344054;
  border: 1px solid #d0d5dd;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}

h2-from-36-to-30 {
  font-size: clamp(1.875rem, 1.75rem + 0.5556vw, 2.25rem);
  line-height: clamp(2.375rem, 2.25rem + 0.5556vw, 2.75rem);
  font-weight: 600;
}

p-from-20-to-18 {
  font-size: clamp(1.125rem, 1.0833rem + 0.1852vw, 1.25rem);
  line-height: clamp(1.75rem, 1.7083rem + 0.1852vw, 1.875rem);
  font-weight: 400;
}

/* Header */

.header {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f2f4f7;
  padding: 18px 80px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;

  img {
    max-width: 32px;
    max-height: 32px;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 40px;
  color: #667085;
}

.nav a {
  display: flex;
  align-items: center;
}

.nav a img {
  margin-left: 8px;
}

.auth-buttons {
  display: flex;
  gap: 12px;
}

.auth-buttons button {
  font-size: 16px;
}

.login-btn {
  background-color: transparent;
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
  color: #667085;
}

.signup-btn {
  background-color: #7e57c2;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 12px;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: #6a44a7;
}

.hamburger-menu {
  display: none;
}

@media (max-width: 768px) {
  .header {
    padding: 18px 40px;
  }

  .nav {
    display: none;
  }

  .auth-buttons {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger-menu span {
    display: block;
    width: 32px;
    height: 3px;
    background-color: #344054;
    transition: all 0.3s ease;
    margin-bottom: 6px;
    border-radius: 24px;
  }
}

@media (max-width: 425px) {
  .header {
    padding: 18px 16px;
  }
}

/* Hero */

#hero {
  padding: 18px 80px;
}

.hero-wrapper {
  width: 100%;
  padding: 96px 224px 192px;
  background: linear-gradient(26.57deg, #53389e 8.33%, #6941c6 91.67%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
}

.hero-title {
  text-align: center;
  font-size: clamp(2.25rem, 1.5rem + 3.3333vw, 4.5rem);
  line-height: clamp(2.75rem, 1.7917rem + 4.2593vw, 5.625rem);
  color: #ffffff;
}

.hero-title-secondary {
  color: #f4ebff;
  margin-bottom: 24px;
  font-size: clamp(2.25rem, 1.5rem + 3.3333vw, 4.5rem);
  line-height: clamp(2.75rem, 1.7917rem + 4.2593vw, 5.625rem);
}

.hero-paragraph {
  font-size: clamp(1.125rem, 1.0833rem + 0.1852vw, 1.25rem);
  line-height: clamp(1.75rem, 1.7083rem + 0.1852vw, 1.875rem);
  font-weight: 400;
  line-height: 30px;
  color: #e9d7fe;
  text-align: center;
  margin-bottom: 48px;
}

.hero-input-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.hero-input-wrapper {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 16px;
}

.hero-input-wrapper p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #e9d7fe;
}

.hero-input {
  padding: 12px 14px;
  border-radius: 8px;
  border: none;
  min-width: 360px;
}

.hero-btn {
  min-width: 128px;
  padding: 12px 20px;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 8px;
}

.hero-img-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero-img {
  margin-top: -100px;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  position: relative;
}

.hero-pattern-left {
  position: absolute;
  left: 0;
  bottom: 200px;
}

.hero-pattern-right {
  position: relative;
  right: -20px;
  bottom: -40px;
}

@media (max-width: 1024px) {
  .hero-wrapper {
    padding: 80px 80px 120px;
  }
}

@media (max-width: 768px) {
  .hero-wrapper {
    padding: 80px 80px 120px;
    border-radius: 0;
  }
  #hero {
    padding: 0;
  }
  .hero-input-wrapper {
    flex-direction: column;
  }

  .hero-input-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
  }

  .hero-btn {
    width: 100%;
  }
  .hero-input {
    min-width: unset;
  }
}

@media (max-width: 425px) {
  .hero-wrapper {
    padding: 64px 16px 120px;
    border-radius: 0;
  }
  #hero {
    padding: 0;
  }
  .hero-img {
    margin-top: -60px;
    position: relative;
    right: -20px;
  }
}

/* Features */

#features {
  background-color: #f9fafb;
  padding: 96px 64px;
}

.features-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 32px;
  flex-wrap: wrap;
}

.features-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 384px;
  text-align: center;
}

.features-icon {
  width: 48px;
  height: 48px;
  border: 8px solid #f4ebff;
  background-color: #f4ebff;
  border-radius: 28px;
  margin-bottom: 20px;
}

.features-title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #101828;
}

.features-paragraph {
}

/* Integrations */

#integrations {
  padding: 96px 80px 96px;
}

.integrations-wrapper {
}

.integrations-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.integrations-above-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #6941c6;
  background-color: #f9f5ff;
  border-radius: 16px;
  padding: 4px 12px;
  margin-bottom: 16px;
}

.integrations-title {
  font-size: clamp(1.875rem, 1.75rem + 0.5556vw, 2.25rem);
  line-height: clamp(2.375rem, 2.25rem + 0.5556vw, 2.75rem);
  font-weight: 600;
  line-height: 44px;
  color: #101828;
  margin-bottom: 20px;
  text-align: center;
}

.integrations-title-paragraph {
  font-size: clamp(1.125rem, 1.0833rem + 0.1852vw, 1.25rem);
  line-height: clamp(1.875rem, 1.9167rem + -0.1852vw, 1.75rem);
  line-height: 30px;
  max-width: 768px;
  text-align: center;
}

.integrations-content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 64px;
  margin-top: 64px;
}

.integrations-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 384px;
  gap: 20px;
}

.integrations-icon {
  width: 64px;
  height: 64px;
}

.integrations-card-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.integrations-card-title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: #101828;
  text-align: center;
}

.integrations-paragraph {
  text-align: center;
}

.integrations-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #6941c6;
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 768px) {
  .integrations-content-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 64px;
    margin-top: 64px;
  }

  #integrations {
    padding: 40px 16px 64px;
  }
}

/* Metrics */

#metrics {
  padding: 96px 80px;
}

.metrics-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 64px;
}

.metrics-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.metrics-title {
  font-size: clamp(1.875rem, 1.75rem + 0.5556vw, 2.25rem);
  line-height: clamp(2.375rem, 2.25rem + 0.5556vw, 2.75rem);
}

.metrics-subtitle {
  font-size: clamp(1.125rem, 1.0833rem + 0.1852vw, 1.25rem);
  line-height: clamp(1.75rem, 1.7083rem + 0.1852vw, 1.875rem);
}

.metrics-content-container {
  width: 100%;
  background-color: #f9f5ff;
  display: flex;
  justify-content: space-around;
  padding: 64px;
}

.metrics-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.metrics-number {
  font-size: clamp(3rem, 2.75rem + 1.1111vw, 3.75rem);
  line-height: clamp(3.75rem, 3.5rem + 1.1111vw, 4.5rem);
  font-weight: 600;
  color: #7f56d9;
}

.metrics-description {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
  color: #42307d;
}

@media (max-width: 425px) {
  #metrics {
    padding: 16px;
  }

  .metrics-wrapper {
    background-color: #f9f5ff;
    padding: 40px 24px;
    border-radius: 16px;
  }

  .metrics-content-container {
    flex-direction: column;
    padding: 40px 24px;
    gap: 32px;
  }

  .metrics-title {
    color: #42307d;
  }

  .metrics-subtitle {
    color: #6941c6;
  }
}

@media (max-width: 500px) {
  .metrics-content-container {
    flex-direction: column;
    padding: 40px 24px;
    gap: 32px;
  }
}

/* Main features */

#main-features {
  padding: 0 80px 96px;
}

.main-features-title-container {
  margin-bottom: 64px;
}

.main-features-image-container {
  display: flex;
  justify-content: center;
}

.features-mockup-desktop {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.features-mockup-mobile {
  display: none;
}

.main-features-container {
  margin-top: 48px;
}

@media (max-width: 768px) {
  #main-features {
    padding: 0 40px 96px;
  }
}

@media (max-width: 425px) {
  .features-mockup-desktop {
    display: none;
  }
  .features-mockup-mobile {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    position: relative;
    right: -20px;
  }

  #main-features {
    padding: 0 16px 96px;
  }
}

/* Pricing */

#pricing {
  padding: 0 80px 96px;
}
.pricing-title {
  background: transparent;
}

/* Pricing card */

.pricing-content-container {
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap;
}

.pricing-card {
  border: 1px solid #eaecf0;
  max-width: 592px;

  border-radius: 16px;
}

/* Pricing card header */

.pricing-card-header {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaecf0;
  gap: 64px;
  flex-wrap: wrap-reverse;
}

.pricing-card-header-title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 4px;
}

.pricing-card-title {
  font-weight: 600;
  font-size: clamp(1.25rem, 1.1667rem + 0.3704vw, 1.5rem);
  line-height: clamp(1.875rem, 1.8333rem + 0.1852vw, 2rem);
  color: #101828;
}

.pricing-card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.pricing-card-price-wrapper {
  display: flex;
}

.pricing-card-price {
  font-size: clamp(3rem, 2.75rem + 1.1111vw, 3.75rem);
  line-height: clamp(3.75rem, 3.5rem + 1.1111vw, 4.5rem);
  font-weight: 600;
  color: #101828;
  display: flex;
  align-items: end;
}

.pricing-card-price span {
  font-size: 36px;
}

.pricing-card-price-text {
  display: flex;
  align-items: end;
}

.pricing-card-header-title-flag {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;

  color: #6941c6;
  background-color: #f9f5ff;
  border-radius: 16px;
  padding: 4px 12px;
}

/* Pricing card content title */

.pricing-card-content-container {
}

.pricing-card-content-title-container {
  margin-bottom: 24px;
  padding: 32px 32px 0;
}

.pricing-card-content-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #101828;
  text-transform: uppercase;
}

.pricing-card-content-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* Pricing card content list */

.pricing-card-list-container {
  border-bottom: 1px solid #eaecf0;
  padding: 0 32px 40px;
}

.pricing-content-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  max-height: 200px;
}

.pricing-content-list-item {
  display: flex;
  gap: 12px;
}

.pricing-content-list-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.pricing-content-list-item img {
  width: 24px;
  height: 24px;
}

.pricing-card-btn-container {
  padding: 32px;
}

.pricing-btn {
  width: 100%;
  padding: 12px 20px;
}

@media (max-width: 425px) {
  #pricing {
    padding: 0 16px;
  }
}

@media (max-width: 768px) {
  .pricing-card-header {
    gap: 16px;
  }
}

@media (max-width: 1300px) {
  .pricing-content-list {
    max-height: unset;
  }
}

/* FAQ */

#faq {
  padding: 96px 64px;
}
.faq-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-content-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 768px;
  width: 100%;
}

.faq-item {
  width: 100%;
  display: flex;
  border-top: 1px solid #eaecf0;
  justify-content: space-between;
  padding-top: 24px;
}

.faq-item:first-child {
  border-top: none;
}
.faq-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #101828;
}

.faq-footer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  padding: 32px;
  background-color: #f9fafb;
}

.faq-footer-images {
  display: flex;
}

.faq-img {
  border-radius: 50%;
  border: 1px solid white;
}

.faq-img img {
  max-width: 100%;
  border-radius: 50%;
  height: auto;
  object-fit: contain;
}

.faq-image-small {
  width: 48px;
  height: 48px;
  background-color: #abb677;
}

.first-person {
  position: relative;
  left: 10px;
}

.third-person {
  position: relative;
  right: 10px;
  background-color: #d9b9bb;
}

.faq-image-big {
  width: 56px;
  height: 56px;
  position: relative;
  top: -10px;
  background-color: #c7b9da;
  z-index: 2;
}

.faq-footer-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
  margin: 32px 0;
}
.faq-footer-title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: #101828;
}

.faq-footer-paragraph {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}

.faq-btn {
  padding: 12px 20px;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 425px) {
  #faq {
    padding: 64px 16px;
  }

  .faq-footer-text-container {
    margin: 24px 0;
  }
}

/* CTA */

#cta {
  background-color: #53389e;
}

.cta-wrapper {
  padding: 96px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.cta-text-container {
  text-align: center;
}

.cta-title {
  color: #fff;
  margin-bottom: 20px;
  font-size: clamp(1.875rem, 1.75rem + 0.5556vw, 2.25rem);
  line-height: clamp(2.375rem, 2.25rem + 0.5556vw, 2.75rem);
  font-weight: 600;
}
.cta-paragraph {
  color: #e9d7fe;
}

.cta-btn-container {
  display: flex;
  gap: 12px;
}
@media (max-width: 425px) {
  .cta-wrapper {
    padding: 64px 16px;
  }
  .cta-btn-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cta-btn-container {
    width: 100%;
  }
  .cta-btn {
    width: 100%;
  }
}

/* Footer */

footer {
  padding: 64px 80px;
}
.footer-app-links img {
  aspect-ratio: 135 / 40;
  width: 135px;
}
.footer-wrapper {
  display: flex;
  gap: 128px;
  justify-content: center;
}

.footer-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 984px;
}

.footer-links-list-container {
  min-width: 155px;
}

.footer-links-list-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #101828;
  margin-bottom: 12px;
}

.footer-links-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-links-list li {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #6941c6;
}

.footer-links-list li span {
  position: absolute;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  padding: 2px 8px;
  color: #027a48;
  background-color: #ecfdf3;
  border-radius: 16px;
}

.footer-app-links-container p {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #101828;
  margin-bottom: 16px;
}

.footer-app-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-end-container {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
  border-top: 1px solid #eaecf0;
  margin-top: 64px;
}

@media (max-width: 768px) {
  footer {
    padding: 64px 16px;
  }
  .footer-wrapper {
    flex-wrap: wrap-reverse;
    gap: 48px;
    justify-content: flex-start;
  }

  .footer-app-links {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .footer-links {
    gap: 32px;
  }
  .footer-end-container {
    flex-wrap: wrap;
    gap: 24px;
  }
}
